<launch>
    <include file="$(find gummi_base_template)/launch/load_config_base.launch">
        <!--arg name="base" value="$(arg base)"/-->
    </include>
    <include file="$(find gummi_ee_handshake)/launch/load_config_ee.launch">
        <!--arg name="ee" value="$(arg ee)"/-->
    </include>
</launch>
